# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
env/

# Test artifacts
reports/
.allure/
.pytest_cache/
htmlcov/
.coverage

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# WebDriver cache
.wdm/
